body {
    font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
    color: #fff;
  
}
/* body *{
    border: solid 1px whitesmoke;
} */
a, a:hover, a:visited, a:active { 
    color: #fff;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

/**********/
/* Layout */
/**********/
aside, footer, header, nav, section, article {
    display: flex;
    flex-direction: column;
}
body {
    overflow: hidden;
    margin: 0px;
    display: grid;
    grid-template-columns: 250px auto;
    grid-template-rows: auto 100px;
    grid-template-areas:
       "left main"
       "bottom bottom";
    height: 100vh;
}
aside {
    background-color: #000;
    grid-area: left;
}
header {
    background: #111;
    position: fixed;
    width: calc(100vw - 250px);
    left: 250px;
}

main {
    background: #111; 
    
    grid-area: main;
    min-height: calc(350px);
    max-height: calc(100vh - 100px);
    overflow-y: auto;
    z-index: 3;
}

nav {
    margin-top: 100px;
}

footer {
    background: #222;
    grid-area: bottom;
}


/***************************/
/* Accessories & Florishes */
/***************************/
::-webkit-scrollbar {
    width: 16px;
}

::-webkit-scrollbar-thumb {
    border: 4px solid transparent;
    border-radius: 16px;
    background-clip: padding-box;
    min-height: 30px;
}
::-webkit-scrollbar-thumb {
    background-color: hsla(0,0%,100%,.3);
}

/***************************/
/* Part A: Left Navigation */
/***************************/

/* Your Code Here */
aside   a i{
    margin:  10px 10px 10px 30px  ;

}
aside   h1 i{
    margin:  20px 5px 40px 20px  ;


}


/********************************/
/* Part B: Header & Nav Styling */
/********************************/

/* Your Code Here */

header  {
    width: 80%;
    height: 10%;
    /* padding: 30px; */
    /* margin: 50px; */
    
    display: flex;
    flex-direction: row;
    align-items: right;
    justify-content: flex-end;
    
    
}
header a{
   
    margin: 2%;
    padding: 1% 5% 3% 5%;
    text-transform: uppercase;
    border-radius: 30px;
    border: solid 1px white ;
    font-size: 15px;
    
}
#profile{
    font-weight: bold;
    background-color: #222;
}
header a  i{
    border: none;
}


nav  {
    width: 80%;
    display: flex;
    flex-direction: row;
    /* align-items: right; */
    justify-items: space-between;
    /* padding: 10px 50px 0px 50px; */
    /* margin: 10px 20px 20px 20px; */
}
nav a{
    text-transform: uppercase;
    font-size: 12px;
    padding: 10px 30px 10px 30px;
}


/*************************/
/* Part C: Artists Panel */
/*************************/

/* Your Code Here */


article{
    max-width: 100%;
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr 1fr  ;
}
section{
    background-color: #222;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    align-items: center;
    
}
img{
  margin: 0 0 0 10%;
    border-radius: 50%;
    max-width:80%;
    
}

h2 {
    font-size: 13px;
    font-weight: bold;
}
p{
    font-size: 11px;
}
button {
    display:none
}
/**************************/
/* Part D: Responsive UIs */
/**************************/

/* Your Code Here */

@media only screen and (max-width: 1000px) {
    article{
        max-width: 100%;
        display: grid;
        grid-template-columns:1fr 1fr 1fr   ;

    }
    header  {
        width: 60%;
        
        display: flex;
        flex-direction: row;
        
        
        
    }

    
}

@media only screen and (max-width: 700px) {
    article{
        
        max-width: 100%;
        display: grid;
        grid-template-columns:1fr 1fr ;
    }
body{
    overflow: hidden;
    margin: 0px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 80% 20%;
    grid-template-areas:
       "main main"
       "bottom bottom";
    height: 100vh;
}
/* header  {
    max-width: 60%;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: auto;
padding: 0 30px 30px 30px;} */
/* margin: 0 30px 30px 30px;} */

header a{
   
    margin: 5% 20% 5% 5%;
    padding: 2% 25% 5% 5%;
    text-transform: uppercase;
    border-radius: 30px;
    border: solid 1px white ;
    font-size: 15px;
    
}

    aside{
        display: hide;
        /* visibility: hidden; */
    }
    #profile{
        display: none;
    }
    #upgrade{
        width: 20%;
    }
}